apiVersion: kubernetes.project-planton.org/v1
kind: KubernetesDeployment
metadata:
  name: graph-fleet
  org: planton-cloud
  labels:
    pulumi.project-planton.org/organization: planton-cloud
    pulumi.project-planton.org/project: planton-cloud
    kubernetes.project-planton.org/docker-config-json-file: "~/scm/github.com/plantoncloud-inc/planton-cloud/ops/platform/service-deployments/files/docker-config.json"
spec:
  container:
    app:
      image:
        repo: ghcr.io/plantoncloud/graph-fleet
        #tag: <comes-from-ci-git-commit-sha>
      env:
        variables:
          LANGCHAIN_ENDPOINT: $variables-group/langchain/api-endpoint
          LOG_LEVEL: info
      resources:
        limits:
          cpu: 1000m
          memory: 1Gi
        requests:
          cpu: 100m
          memory: 256Mi
      ports:
        - name: http-api
          appProtocol: http
          networkProtocol: TCP
          servicePort: 80
          containerPort: 8080
          isIngressPort: true
  availability:
    minReplicas: 1
    horizontalPodAutoscaling:
      isEnabled: false
  ingress:
    enabled: true
    hostname: service-graph-fleet-prod.planton.live
  version: main

